/* You can add global styles to this file, and also import other style files */
$tooltip-max-width: 450px;
@import "~bootstrap/scss/bootstrap";
html,
body,
#root {
  height: auto;
  width: 100%;
  -webkit-print-color-adjust: exact;
}

body {
  scrollbar-color: $light $dark;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-corner {
    background: $dark;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light;
    border-radius: 6px;
    border: 3px solid $dark;
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
  }
  &::-webkit-scrollbar-track {
    background-color: $dark;
  }
}

.pointer {
  cursor: pointer;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}
.nav-tabs {
  position: absolute;
  left: 150px;
  top: 14px;
  .nav-item {
    min-width: 150px;
    position: relative;
  }
  .nav-link {
    background-color: $white;
    border-color: $gray-300;
    color: $dark;
    &:not(.active) {
      border-bottom-color: $gray-300;
    }
  }
}

// Common page settings for DocumentViewerTab

.page {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  background-color: white;
  overflow: hidden;
  border: 1px solid $dark;
  &.page-endless {
    height: auto;
    min-height: 29.7cm;
  }
}

@media print {
  .page {
    border: none;
  }
}

@page {
  size: A4; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}
@media print {
  body {
    min-width: 21cm;
    min-height: 29.7cm;
    margin: 0;
  }
  .container {
    width: auto;
  }
}
